@import "../../common-styles/all-utils.scss";

.Game {
    background-color: $smokeyblack;
  margin: 10vw 25vw;
//     display: flex;
//   flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    justify-content: center;

}
