@import "../../common-styles/all-utils.scss";

.Info {
    background-color: $smokeyblack;
    padding: 0 5vw 5vw  5vw ;
    display: flex;
    flex-direction: column;

    &__body {
        display: flex;
        margin-top: 24px;
        justify-content: space-around;
        &--img {
            width: 35vw;
            height: 100%;
        }

        &--text {
            width: 40vw;
           color:$Dull-Blue;
           font-family: Verdana;
          
        }
    }
}
