@import '../../common-styles/all-utils.scss';

.nav {
    height: 6rem;
    width: 100%;
    background-color: $smokeyblack;
    display: flex;
    justify-content: space-between;

    &__title-group {
        display: flex;
        align-items: center;
        width: auto;
    }

    &__title {
        color: $honeydew;
        margin-left: 2rem;
    }

    &__img {
        width: auto;
        height: 3rem;
        margin-left: 2rem;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration-line: none;
        color: $honeydew;
    }

    &__item {
        list-style: none;
        width: 10rem;
    }

}

