@import '../../common-styles/all-utils.scss';

<<<<<<< HEAD
.nav {
=======
li{
    list-style-type:none;
}
.link{
    text-decoration: none;
}
.nav {
    
>>>>>>> origin/master
    height: 6rem;
    width: 100%;
    background-color: $smokeyblack;
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
=======
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
>>>>>>> origin/master

    &__title-group {
        display: flex;
        align-items: center;
<<<<<<< HEAD
        width: auto;
    }

    &__title {
=======
    }

    &__title {
        text-decoration-line: none;
>>>>>>> origin/master
        color: $honeydew;
        margin-left: 2rem;
    }

    &__img {
        width: auto;
<<<<<<< HEAD
        height: 3rem;
        margin-left: 2rem;
=======
        height: 48px;
        margin: 12px;
>>>>>>> origin/master
    }

    &__list {
        display: flex;
<<<<<<< HEAD
        align-items: center;
    }

    &__link {
        text-decoration-line: none;
        color: $honeydew;
    }

    &__item {
        list-style: none;
        width: 10rem;
=======
    

    }

    &__item {
 
        color: $Dull-Blue;
        width: 5rem;
        font-family: 'Franklin Gothic Medium';
>>>>>>> origin/master
    }

}

