@import '../../common-styles/all-utils.scss';

li{
    list-style-type:none;
}
.link{
    text-decoration: none;
}
.nav {
    height: 6rem;
    width: 100%;
    background-color: $smokeyblack;
    display: flex;
    justify-content: space-between;

    &__title-group {
        display: flex;
        align-items: center;
    }

    &__title {
        text-decoration-line: none;
        color: $honeydew;
        margin-left: 2rem;
    }

    &__img {
        width: auto;
        height: 3rem;
    }

    &__list {
        display: flex;
    }

    &__item {
        text-decoration-line: none;
        color: $Dull-Blue;
        width: 5rem;
    }

}

