
@import '../../common-styles/all-utils.scss';

.sky {

  margin: 2rem;
border-radius: 4px;  
  max-width: 40vw;
max-height: 40vw;
  background-color: $Sapphire;
  overflow: hidden;
  cursor: url("./airCanada.png"), auto;
  
  &__logo{
     position: absolute;

    width:30vw ;
    opacity: 0.60;
    align-self: center;
  
  }
  &__cloud-img {
    width: 15vw;
    height: auto;
  }

  &__cloud {
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
    z-index: 10;
    border: none;
    overflow: hidden;

    opacity: 0.75;

    
  }

  &__goodA {

    top: 3vw;
    animation-name: wind;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
  }


  &__badA {
    top: -3vw;
    animation-name: wind;
    animation-duration: 2.10s;
    animation-iteration-count: infinite;
  }


  &__goodB {
    
    top: -10vw;
    animation-name: wind;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }


  &__badB {
   
    top: -10vw;
    animation-name: wind;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
  }


  &__goodC {
   
    top: -25vw;
    animation-name: wind;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
  }


  &__badC {
   
    top: -25vw;
    animation-name: wind;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
  }



}

@keyframes wind {
  from {
    left: 50vw;
  }
  to {
    left: -40vw;
  }
}

