

.sky {
  max-width: 50vw;
max-height: 50vw;
  background-color: skyblue;
  overflow: hidden;
  cursor: url("./airCanada.png"), auto;
  &__cloud-img {
    width: 15vw;
    height: auto;
  }

  &__cloud {
    width: auto;
    height: auto;
    position: relative;
    background-color: transparent;
    z-index: 10;
    border: none;
    overflow: hidden;
  }

  &__goodA {

    top: 3vw;
    animation-name: wind;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
  }


  &__badA {
    top: -3vw;
    animation-name: wind;
    animation-duration: 2.10s;
    animation-iteration-count: infinite;
  }


  &__goodB {
    
    top: -10vw;
    animation-name: wind;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }


  &__badB {
   
    top: -10vw;
    animation-name: wind;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
  }


  &__goodC {
   
    top: -25vw;
    animation-name: wind;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
  }


  &__badC {
   
    top: -25vw;
    animation-name: wind;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
  }



}

@keyframes wind {
  from {
    left: 50vw;
  }
  to {
    left: -40vw;
  }
}

