$smokeyblack: #110305;
$bluecrayola: #0075F2;
$midnightblue: #12054D;
$honeydew: #E0EFDE;
$cultured: #F5F5F5;




$burgundy:#6D0522;
$Xiketic:#170B17;
$HelioGray:#9E8C9A;
$Glaucous:#7685E1;
$Eminence:#724190;


$Dull-Blue:#5FC5E5;
$Sapphire: #276A8E;
$RichBlade:#111111;


$DarkBurg:#360116;
$JungleGreen:#0B150D;
$PalePurple:#FEECFB;
$RussianViolet:#4D1C61;
$RussianBlue:#1D5FBE;
